%div{:class => "col-md-8"}
  %div{:class => "panel panel-default container-shadow"}
    %div{:class => "panel-body row"}
      %div{:class => "col-md-8"}
        %h3= link_to "#{event.name}", event_path(event)
        - if event.end_date
          %p Date: #{event.start_date.to_formatted_s(:long_ordinal)} to #{event.end_date.to_formatted_s(:long_ordinal)}
        - else
          %p Date: #{event.start_date.to_formatted_s(:long_ordinal)}
        - if event.end_time
          %p Time: #{event.start_time.to_s(:time)} to #{event.end_time.to_s(:time)}
        - else
          %p Time: #{event.start_time.to_s(:time)}
        %p Location: #{event.location}
        - if event.event_organizer
          %p Event Organizer: #{event.event_organizer}
        
        - if event.description
          %p #{event.description}
          
      %div.pull-right
        =render partial: 'layouts/manage_events', locals: {event: event}
          
      
    %div{:class => "panel-footer"}
      %p Contact Information
      %p #{event.creator_name}: #{event.creator_email}