%h2 Edit Account

%h3 Update Personal Information
= simple_form_for @admin do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, required: true, autofocus: true, error: flash[:alert]
    = f.input :email, required: true, error: flash[:alert]
  .form-actions
    = f.button :submit, "Update"

= simple_form_for @admin do |f|
  .form-inputs
    = f.input :password, autocomplete: "off", required: true, error: flash[:alert]
    = f.input :password_confirmation, required: true, error: flash[:alert]
    = f.input :current_password, hint: "We need your current password to confirm your changes", error: "Current password is invalid", required: true
  .form-actions
    = f.button :submit, "Change Password"

= link_to "Back", :back