%h1.pg-header Admin Accounts
%div.container.container-shadow
  %table{:class => "table table-striped table-condensed "}
    %thead
      %tr
        %th Name
        %th Email
        - if current_admin.is_superadmin?
          %th Delete
    %tbody
      - @admins.each do |admin|
        %tr
          %td= admin.name
          %td= admin.email
          - if current_admin.is_superadmin? &&  !(current_admin == admin)
            %td= link_to "Delete Account", admin, method: :delete, data: { confirm: "Are you sure?" }, id: "delete-admin#{admin.id.to_s}"
  = button_to 'Add Staff Account', new_admin_path, method: :get, class: "btn btn-primary"