%div.jumbotron.admin-hero
  %div.container-fluid
    %h1 Welcome back, #{@admin.name}!

%div.container
  %div.col-md-8
    %div.row
      %div.update-icon.col-md-2
        = image_tag "calendar_icon.svg", class: "center-block"
      %div.col-md-6
        - if (@event_count > 1)
          %h3= link_to "#{@event_count} new events to review", admin_unapproved_events_path
        - if (@event_count == 1)
          %h3= link_to "#{@event_count} new event to review", admin_unapproved_events_path
        - else
          %h3= link_to "See All Events", admin_events_path
    %div.row
      %div.update-icon.col-md-2
        =image_tag "location_icon.svg", class: "center-block"
      %div.col-md-6
        %h3= link_to 'View Hotspot Forms', admin_hotspots_path
  %div.col-md-4
    %p= link_to 'Edit Account', edit_admin_registration_path
    %p= link_to 'Manage Staff Accounts', staff_accounts_path
    
  
