%h1 Welcome back, #{@admin.name}!

%div
  %ul
    = link_to 'Confirm New Events', admin_events_path
    = link_to 'View Hotspot Forms', admin_hotspots_path
    = link_to 'Edit Account', edit_admin_registration_path
    = link_to 'Manage Accounts', admin_accounts_path
    
  
