<p id="notice"><%= notice %></p>


<h1>Welcome to Bernal Heights Resources!</h1>

<%= link_to 'Add a New Resource', new_resource_path %>
<h2>Emergency!</h2>

<div style="word-wrap: break-word; width:500px;">
  
  CALL 911 or 415 5530-8090 from a cell phone for life-threatening situations <br>
<u>OR</u> a crime in progress(event property crimes) <br> <u>OR</u> suspicious behavior that has suddenly escalated.</div>

<h3> <u>LALALALALALALANON-EMERGENCY POLICE</u> </h3>
<div> When you see suspicious behavior, call the police and let them sort it out. Just remember <br> People aren't suspicious, their behavior is.</div>
<table cellspacing="10">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type1 = Resource.where(:kind => 1)%>
    <% @type1.each do |resource| %>
      <tr>
        <td><b><%= resource.title %></b></td>
        <td><%= resource.description %></td>
        <td><%= resource.link %></td>
        <td><%= resource.phone %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Delete', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<h3> <u>CALL 311 FOR (ALMOST) EVERYTHING ELSE</u></h3>
<h4> Complete information at <a href="http://www.sf311.org">www.sf311.org</a></h4>
<div>311 corrdinates, directs & tracks city questions and issues. Alyways ask for the 
CAD tracking number to track a complaint. <br> A PDF of this Safety Resources List can be found <a href="http://www.sf311.org">here</a></div>

<h5>Call 311 for Problems</h5>
<ul>
  <li> Animals lost or found</li>
  <li> Driveways blocked</li>
  <li> Dumping illegally</li>
  <li> Graffiti</li>
  <li> MUNI problems</li>
  <li> Parking meters broken</li>
  <li> Playgrounds & parks</li>
  <li> Potholes</li>
  <li> Sidewalk buckling</li>
  <li> Streetlights broken or flickering. Get the ID
number from the pole + nearest house address.</li>
  <li> Tree maintenance</li>
  <li> Vehicles - abandoned (parked 72+ hours). Get
license plate number.</li>
  <li> Vehicles – people living inside, call 553-0123</li>
</ul>

<h5>Call 311 for Information</h5>

<ul>
<li>Birth, marriage, and death certificates</li>
<li>City Codes</li>
<li>IDs</li>
<li>MUNI schedules</li>
<li>Permits (new)</li>
<li>Taxes</li>
</ul>
<h5>Contact City Attorney or Code Enforcement</h5>
<div> Report public nuisance violations that endanger
health & safety: unsafe building conditions,
slumlords, hoarding, overgrown or poorly maintained
lots, etc. Main number: 554-4700
Report online or via free smartphone app at <a href="http://www.up2code.org">www.up2code.org</a></div>
<h3><u>Be Informed</u></h3>
<table cellspacing="10">
  <tbody>
    <% @type1 = Resource.where(:kind => 2)%>
    <% @type1.each do |resource| %>
      <tr>
        <td><b><%= resource.title %></b></td>
        <td><%= resource.description %></td>
        <td><%= resource.link %></td>
        <!--<td><a href=<%= resource.link %>><%= resource.link %></a></td>-->
        <!--<td><a href="http://www.up2code.org">www.up2code.org</a></td>-->
        <td><%= resource.phone %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Delete', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>
<h3><u>Get Invoved</u></h3>
<table cellspacing="10">
  <tbody>
    <% @type1 = Resource.where(:kind => 3)%>
    <% @type1.each do |resource| %>
      <tr>
        <td><b><%= resource.title %></b></td>
        <td><%= resource.description %></td>
        <td><%= resource.link %></td>
        <td><%= resource.phone %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Delete', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>
<h3><u>Other Conctacts</u></h3>
<table cellspacing="10">
  <tbody>
    <% @type1 = Resource.where(:kind => 4)%>
    <% @type1.each do |resource| %>
      <tr>
        <td><b><%= resource.title %></b></td>
        <td><%= resource.description %></td>
        <td><%= resource.link %></td>
        <td><%= resource.phone %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Delete', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>
<br>

<!--<%= link_to 'Add a New Resource', new_resource_path %>-->
