%h2 Edit Account

%h3 Update Personal Information
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, required: false, autofocus: true
    = f.input :email, required: false
  .form-actions
    = f.button :submit, "Update"

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :password, autocomplete: "off", required: false
    = f.input :password_confirmation, required: false
    = f.input :current_password, hint: "We need your current password to confirm your changes", required: true
  .form-actions
    = f.button :submit, "Change Password"

= link_to "Back", :back