%h1 All Hotspots

= form_tag admin_hotspots_path, :id => "hotspotFilters", :method => :get do
  Show hotspots within: 
  - @all_regions.each do |region|
    = check_box_tag "regions[#{region}]", 1, @selected_regions.include?(region), :id => "regions_#{region}"
    = region + " Region"
  %br
  Show hotspots with issue type of: 
  - @all_issues.each do |issue|
    = check_box_tag "issues[#{issue}]", 1, @selected_issues.include?(issue), :id => "issues_#{issue}"
    = issue
  %br
  = submit_tag 'Filter', :id => 'filter_submit', :class => 'btn btn-sm btn-secondary'

= render 'layouts/map'

%div{:class => "col-md-8"}
  %table#hotspots{:class => "table table-striped"}
    %thead
      %tr
        %th ID#
        %th Issue Type
        %th Location
        %th Details
    %tbody
      - if @hotspots
        - @hotspots.each do |hotspot|
          %tr
            %td= hotspot.id
            %td= hotspot.issue_types
            %td= hotspot.location
            %td= hotspot.details
            - if admin_signed_in?
              %td= link_to "Archive Hotspot", admin_hotspot_path(hotspot.id), { method: :put }
              %td= link_to "Delete Hotspot", admin_hotspot_path(hotspot.id), { method: :delete }