%h1 All Hotspots

= render 'layouts/map'

%table#hotspots
  %thead
    %tr
      %th Issue Type
      %th Location
      %th Details
  %tbody
    - if @hotspots
      - @hotspots.each do |hotspot|
        %tr
          %td= hotspot.issue_type
          %td= hotspot.location
          %td= hotspot.details
          - if admin_signed_in?
            %td= link_to "Delete Hotspot", admin_hotspot_path(hotspot.id), { method: :delete }