%h1 

%div.container.card
  %h3 Form ##{@hotspot.id}
  %div.divider
  %div.col-sm-4.card-panel-left
    %h4 Issue Type(s)
    %p #{@hotspot.issue_types}
    %div.divider
    %h4 Discovery Date
    %p #{@hotspot.occurred_date.to_formatted_s(:long_ordinal)}
    %div.divider
    %h4 Discovery Time
    %p #{@hotspot.occurred_time.strftime("%I:%M%p")}
    %div.divider
    %h4 Location
    %p #{@hotspot.location}
    - if @hotspot.report_num
      %div.divider
      %h4 Police Report #
      %p #{@hotspot.report_num}
  
  %div.col-sm-6
    %h4 Details
    %p #{@hotspot.details}
      
%br
%br 

%div.container.card
  %h3 Reporter Information
  %div.divider
  %div.col-sm-4
    %h4 Name
    #{@hotspot.creator_name}
    %h4 Email
    %p #{@hotspot.creator_email}
    %h4 Phone Number
    %p #{@hotspot.creator_number}
    %h4 Can share info with SFPD?
    %p #{@hotspot.share_info?}
    %h4 Willing to go on hotspot walk?
    %p #{@hotspot.to_walk?}
  