<h1>Hotspots#new</h1>
<p>Find me in app/views/hotspots/new.html.haml</p>

%h1 Create New Hotspot (Report)
//  = form_for @hotspot do |hotspot|
= simple_form_for(@hotspot, html => { class => 'form-horizontal center' }) do |hotspot|

  = hotspot.label :issue_type, 'Type of Issue'
  = hotspot.text_field 'issue_type'
  = hotspot.input :latitude, label: 'Your Latitude'
          
  = hotspot.label :location, "Location"
  = hotspot.text_area 'location'
  = hotspot.button 'Use my current location', :type => 'button', :onclick => 'getLocation()'
  = hotspot.label "(if location services is turned on)"
  
  = hotspot.label :occurred_time, "Discovery Date"
  = hotspot.date_select 'occurred_time'

  = hotspot.label :details, "Details"
  = hotspot.text_area 'details'
  
  = hotspot.label :report_num, "Police report number (if applicable)"
  = hotspot.number_field 'report_num'

  = hotspot.label 'to_share', "Can we share your info with the SFPD?"
  = hotspot.label 'label_to_share_yes', 'Yes'
  = hotspot.radio_button :to_share, true
  = hotspot.label 'label_to_share_no', 'No'
  = hotspot.radio_button :to_share, false
  
  = hotspot.label :creator_name, "Your Name"
  = hotspot.text_field 'creator_name'
  
  = hotspot.label :creator_email, "Your Email"
  = hotspot.text_field 'creator_email'
  
  = hotspot.label :creator_number, "Your Phone Number"
  = hotspot.text_field 'creator_number'

  = submit_tag 'Report Hotspot Issue'

:javascript
  var x = document.getElementById("hotspot_location");
  
  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
  }
  
  function showPosition(position) {
      x.innerHTML = position.coords.latitude + 
      ", " + position.coords.longitude;	
  }
