<h1>New Hotspot Form - Part 2</h1>
<p>Find me in app/views/hotspots/new.html.haml</p>

%h1 Create New Hotspot (Report)

= form_for (@hotspot, :url => wizard_path, :method => :put) do |hotspot|
  
  = hotspot.label 'to_share', "Can we share your info with the SFPD?"
  = hotspot.label 'label_to_share_yes', 'Yes'
  = hotspot.radio_button :to_share, true
  = hotspot.label 'label_to_share_no', 'No'
  = hotspot.radio_button :to_share, false
  
  = hotspot.label :creator_name, "Your Name"
  = hotspot.text_field 'creator_name'
  
  = hotspot.label :creator_email, "Your Email"
  = hotspot.text_field 'creator_email'
  
  = hotspot.label :creator_number, "Your Phone Number"
  = hotspot.text_field 'creator_number'
  
  = hotspot.label 'walk', "Will you go on a hotspot walk with us?"
  = hotspot.label 'label_walk_yes', 'Yes'
  = hotspot.radio_button :walk, true
  = hotspot.label 'label_walk_no', 'No'
  = hotspot.radio_button :walk, false
  
 = hotspot.submit 'Report Hotspot Issue', :class => 'btn btn-primary'
end
 