%h1 All Events

%div.col-sm-7
  = month_calendar(attribute: :start_date, events: @events) do |date, acts|
    = date.mday
    - if acts.length != 0
      %p.event-marker
        = "&bull;".html_safe
  = button_to 'Create New Event', new_event_path, method: :get, class: "btn btn-default", id: "event-btn"

%div{:class => "col-sm-5"}
  
  %table#events{:class => "table table-striped table-condensed "}
    %thead
      %tr
        %th Event Name
        %th More Info
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to "#{event.name}", event_path(event)
          //%td= link_to "More about #{event.name}", event_path(event)
          %td Show event details will be here

