%h1 All Events

%div.col-sm-7
  = month_calendar(attribute: :start_date, events: @events) do |date, acts|
    %p{id: date}
      = date.mday
    - if acts.length != 0
      %p.event-marker
        = "&bull;".html_safe
  = button_to 'Create New Event', new_event_path, method: :get, class: "btn btn-default", id: "event-btn"

= render 'layouts/event_list'

:javascript
  $('.day').click( function() {
    var search_param = $(this).children("p").attr("id");
    $.ajax({
            url: "events/", // Route to the Event Controller day_events method
            type: "GET",
        dataType: "text",
        contentType: "text/plain",
            data: { day: search_param },
        complete: function() {},
        success: function(data, textStatus, xhr) {
                    // Do something with the response here
                    $('#events').html(data);
                  },
          error: function(data) {
                    alert("ajax error");
                  }
    });
  });