- if !event.approved
  = link_to admin_event_confirm_path(event_id: event.id), :method => :post, :class=>"btn btn-default approve", :id=> "#{event.id}_approve" do
    %span{:class => "glyphicon glyphicon-ok"}
  
= link_to edit_admin_event_path(event), :class => "btn btn-default edit", :id => "#{event.id}_edit" do
  %span{:class => "glyphicon glyphicon-pencil"}
  
=link_to admin_event_path(event), :method => :delete, :data => { confirm: "Are you sure?" }, :class => "btn btn-default delete", :id => "#{event.id}_delete" do
  %span{:class => "glyphicon glyphicon-remove"}