!!! 5
%html
  :css
    .navbar-custom {
      // font-family: Georgia;
      // color: #FFFFFF;
      // background-color: green;
    }
    .navbar a {
      color: green;
      font-size: 100px/2 ;
    }
    
    
    

  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,300,100,500", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag 'nav'
  %body
    %header#fh5co-header{:role => "banner"}
      %nav.navbar.navbar-default{:role => "navigation"}
        .container-fluid
          .navbar-header
            / Mobile Toggle Menu Button
            %img{:src => "assets/logo.jpg", :style => "width:150px;height:113px;"}
              %a.js-fh5co-nav-toggle.fh5co-nav-toggle{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#fh5co-navbar", "data-toggle" => "collapse", :href => "#"}
                %i
              / <a class="navbar-brand" href="index.html">Bernal Heights Neighborhood</a>
          #fh5co-navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              - if current_admin
                %li.active
                  %a{:href => root_path}
                    %span
                      Home
                      %span.border
                %li
                  %a{:href => hotspots_path}
                    %span
                      Submit HotSpot
                      %span.border
                %li
                  %a{:href => resources_path}
                    %span
                      Resources
                      %span.border
                %li
                  %a{:href => events_path}
                    %span
                      Events
                      %span.border
                %li
                  %a{:href => "https://donatenow.networkforgood.org/BHNC?code=Website+button"}
                    %span
                      Donate
                      %span.border
                %li
                  %a{:href => "elements.html"}
                    %span
                      Admin
                      %span.border
              - else
                %li
                  %a{:href => root_path}
                    %span
                      Home
                      %span.border
                %li
                  %a{:href => hotspots_path}
                    %span
                      Submit HotSpot
                      %span.border
                %li
                  %a{:href => resources_path}
                    %span
                      Resources
                      %span.border
                %li
                  %a{:href => events_path}
                    %span
                      Events
                      %span.border
                %li
                  %a{:href => "https://donatenow.networkforgood.org/BHNC?code=Website+button"}
                    %span
                      Donate
                      %span.border
                %li
                  %a{:href => "elements.html"}
                    %span
                      Admin
                      %span.border
    .fh5co-slider
      .owl-carousel.owl-carousel-fullwidth
        .item{:style => "background-image:url(assets/home.jpg)"}
          .fh5co-overlay
          .container
            .row
              .col-md-8.col-md-offset-2
                .fh5co-owl-text-wrap
                  .fh5co-owl-text.text-center.to-animate
                    %h1.fh5co-lead Welcome!
                    %h2.fh5co-sub-lead Our mission at Bernal Heights Neighborhood Center is ...to preserve and enhance the ethnic, cultural, and economic diversity of Bernal Heights and surrounding neighborhoods. We promote community action to build a just and equitable community for all. BHNC focuses on the needs of people with low and moderate incomes.
    #main
    
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:alert]
        #alert.message= flash[:alert]
        
      = yield
  %foot